{
    "login": {
        "discord" : "discord bot token",
        "username" : "runescape username/email address",
        "password" : "runescape password"
    },
    "configs": {
        "channelID" : "discord channel id to chat in",
        "botID" : "discord bot userid",
        "chatType" : "can be 'friends' or 'clan' (runescape chat types)",
        "htmlDumpDirectory" : "absolute or relative path, can be the same as others",
        "screenshotDirectory" : "absolute or relative path, can be the same as others",
        "errorDirectory" : "absolute or relative path, can be the same as others",
        "runeScapePrefix": "prefix to commands sent in runescape",
        "discordPrefix": "prefix to commands sent in discord"
    }
}
